@font-face{
	font-family: 'Retelling';
	src: url('Retelling.otf') format("opentype");
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: ghostwhite;
	font-family: 'Retelling';
	font-size: 60px;
	
}
p {
  font-size: 18px;
  color: black;
  line-height: 18px;
}

a{
	color:deeppink;
}

#main {
  width: 1600px;
  margin: 0 auto; 
}