/*@font-face{
	font-family: 'Retelling';
src: url('Retelling.otf') format("opentype");
	font-weight: 400;
}*/

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

a, u {
  text-decoration: none;
}

#draggable-circle {
    width: 200px;
    height: 200px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    mix-blend-mode: multiply;
}

body{
	/* this is the outermost element on your page*/
	background: white;
	font-family: "Open Sans", serif;
	font-size: 80px;
	text-align: center;
	padding: 50px;

	
}
p {
  font-size: 25px;
  color: black;
  line-height: 30px;
  text-align: center;
}

a{
	color:deeppink;
}

h3{
	font-size: 5px;
  color: black;
  line-height: 18px;

}

#main {
  width: 1600px;
  margin: 0 auto; 
}


.typespecimen{
    background: black;
    color: white;
    --grad: -100;
}



#button{
    margin-top: 0px;
    border: 1px solid;
    padding: 10px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 25px;
}

#button:hover{
    background: black;
    cursor: pointer;
}