@font-face{
	font-family: 'Retelling';
	src: url('Retelling.otf') format("opentype");
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: white;
	font-family: 'Retelling';
	font-size: 15px;

}

h1{
	font-size: 200px;
}

h4{
	font-size: 30px;
}